* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

#container{
    display: flex;
    justify-content: space-around;
}


#card{
    width: 200px;
    height: 150px;
    border: solid black;
    display: flex;
    margin: 2%;
    background-color: rgba(97, 51, 51, 0.548);
    justify-content: center;
}
#card p{
    padding: 10% 0;
    color: white;
}
h1{
    background-color: rgb(97, 51, 51);
    color: white;
    text-align: center;
    width: 100%;
    opacity: 0.8;
    font-family: 'Poppins', sans-serif;
    padding: 1%;
}
nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: rgb(97, 51, 51);
}
nav a{
    color: rgb(235, 235, 235);

    padding: 1%;
    font-size: xx-large;
    /* text-decoration: none; */
}
.fa-solid, .fas{
    color: black;
}

p{
    padding: 2% 0;
}

textarea{
    width: 100%;
    height: 100px;
}

td{
   padding: 10px;
}
